<div>
  <div class="photosContainer">
    <img class="photo p1" src="tomekPhoto.png" alt=""/>
    <img class="photo p2" src="izaPhoto.png" alt=""/>
  </div>
  <div class="textContainer">
    <h1>Izabela & Tomasz</h1>
    <h1>Olszewscy</h1>
    <p> Tworzymy przestrzeń dla tych, którzy chcą więcej od życia. Kiedyś w międzynarodowej branży medycznej, dziś
      przedsiębiorcy, mentorzy i partnerzy <strong>DuoLife</strong>.</p>
    <p>Łączy nas pasja do życia na własnych zasadach. Szukasz zdrowia, energii lub nowego kierunku zawodowego? Poznaj
      świat 100% natury i 100% możliwości.</p>
    <p> Suplementacja, która działa. Społeczność, która wspiera. Biznes, który możesz zacząć od zaraz. </p>
    <p>Pomożemy Ci zrobić <strong>pierwszy krok</strong></p>
  </div>
  <div class="buttonsContainer">
    <a class="button b1" href="https://www.apple.com/pl/?cid=aos-pl-kwgo-brand">Wypełnij ankietę i dołącz do
      zespołu </a>
    <a class="button b2" href="">Zarejestruj się i odbierz rabat</a>
  </div>

</div>
<div class="contact">

  <div class="findUs">
    <div class="lSide">
      <a>
        <img class="metaIcons" src="facebook.png" alt="facebook logo">
      </a>
      <a>
        <img class="metaIcons" src="instagram.png" alt="instagram logo">
      </a>
      <i class="fa-solid fa-arrow-left"></i>
      <h2>Znajdziesz nas</h2>
    </div>
<!--    <div class="rSide">-->
<!--      <img class="duoIcon" src="duoLife.png" alt="duoLife logo">-->
<!--    </div>-->
  </div>
</div>
